---
import {basics} from '@cv';
import ContactButton from './subcomponents/ContactButton.astro';

const {name, label, image, email, phone, profiles} = basics;

const linkedInfo = profiles.find(({network}) => network === "LinkedIn");
const linkedUrl = linkedInfo?.url;

const printInfo = [email, phone, linkedUrl].filter(Boolean).join(" • ")
---

<header class="header">
    <div class="header-left">
        <div class="header-left--info">
            <h1 class="header-title">{name}</h1>
            <p class="header-location"><i class="fa-solid fa-location-dot"></i> Garupá, Misiones. Argentina</p>
            <p class="header-subtitle">{label}</p>
        </div>
        <div class="contact-buttons no-print">
            <ContactButton type={"solid"} icon={"envelope"} link={"mailto:alanmfloresdev@gmail.com"}/>
            <ContactButton type={"solid"} icon={"phone"} link={"https://api.whatsapp.com/send/?phone=5491127928986&text&type=phone_number&app_absent=0"}/>
            <ContactButton type={"brands"} icon={"github"} link={"https://github.com/alanmflores"}/>
            <ContactButton type={"brands"} icon={"linkedin"} link={"https://www.linkedin.com/in/alanmflores/"}/>
        </div>
        <div class="contact-print print">
            <p>
                {printInfo}
            </p>
        </div>
    </div>
    <figure class="header-image">
        <img src={image} alt="profile image">
    </figure>
</header>

<style>

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 32px;
    }

    .header-title {
            font-size: 1.2rem;
        }

    .header-subtitle {
        font-size: 0.8rem;
    }

    .header-location {
        font-size: 0.8rem;
    }

    .header-image {
        border-radius: 100%;
        width: 104px;
        margin: 0;
    }

    .header-image img {
        border-radius: 100%;
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    .contact-buttons {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .contact-print p {
        font-weight: 600;
    }

    .header-left {
        display: flex;
        flex-direction: column
    }

    .header-left--info {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
    }

    .header-left--info h1 {
        margin-bottom: 0;
    }

    @media screen and (min-width: 600px) {
        .header-image {
            width: 176px;
            height: 176px;
        }

        .header-title {
            font-size: 2rem;
        }

        .header-subtitle {
            font-size: 1rem;
        }
    }

</style>